<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Social -->
        <meta property="og:description" content="Prototyping using GOV.CY styles, components and patterns.">
        <meta property="og:title" content="{{ title }} - GOV.CY">
        <meta property="og:url" content="https://gov-cy.github.io/dsf-prototype/">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://gov-cy.github.io/dsf-prototype/img/icons-512.png">
        <meta property="og:site_name" content="GOV.CY">
    
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://gov-cy.github.io/dsf-prototype/">
        <meta property="twitter:title" content="{{ title }} - GOV.CY">
        <meta property="twitter:description" content="Prototyping using GOV.CY styles, components and patterns.">
        <meta property="twitter:image" content="https://gov-cy.github.io/dsf-prototype/img/icons-512.png">
        <!-- Theme --> 
        <link rel="manifest" href="{{'/manifest.json' | url }}">
        <meta name="theme-color" content="#31576F">
        <link rel="icon" type="image/png" sizes="48x48" href="{{ '/img/favicon-48x48.png' | url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon-32x32.png' | url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon-16x16.png' | url }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/img/apple-touch-icon-144x144-precomposed.png' | url }}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ '/img/apple-touch-icon-120x120-precomposed.png' | url }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/img/apple-touch-icon-114x114-precomposed.png' | url }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/img/apple-touch-icon-72x72-precomposed.png' | url }}">
        <link rel="apple-touch-icon-precomposed" href="{{ '/img/apple-touch-icon-57x57-precomposed.png' | url }}">
        <!-- Bootstrap CSS -->
        <link href="{{ '/css/main.css' | url }}" rel="stylesheet" >
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.5.0/prism-vs.min.css" integrity="sha512-54dqOdBwMzeeRRYZieLqjlGc/w9+AI3vLUdz9PW6QFVTfkL0e7CYLWXKQPV+HqZi5QIj8JKsbzIkeplWVhlY+A==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.5.0/prism-vsc-dark-plus.min.css" integrity="sha512-GU4Q2LAEtdpc8WmjcbSJGxM6c8D69ggI3mc5SRnfnxpg5AkYYA0BEVve0W9Oj2wZR0UItklQK2RBKLtDsQHNzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
        
        <title>{{ title }} - GOV.CY</title>
        <meta name="description" content="Prototyping using GOV.CY styles, components and patterns.">
    </head>
    <body>
    <!--Header-->
<div class="govcy-container-fluid govcy-p-0 govcy-m-0 govcy-position-relative">
         <div class="govcy-container">
             <div class="row">
                 <header class="govcy-header govcy-bg-primary govcy-text-white govcy-bg-primary-right">
                     <a href="{{ '/' | url}}" class="govcy-logo"> <img></a>
                     <form class="govcy-text-white govcy-bg-primary">     
                         <select id="govcy-lang-menu" name="govcy-lang-menu" class="govcy-lang-menu govcy-text-white">
                             <option value="/en/">English</option>
                             <option value="/el/" selected>Ελληνικά</option>
                         </select>
                     </form>
                     <input class="govcy-menu-btn govcy-d-none" type="checkbox" id="menu-btn">
                     <label class="govcy-menu-icon govcy-d-md-none" for="menu-btn">Menu
                         <span class="material-icons govcy-my-3">arrow_drop_down</span>
                     </label>
                     <span class="govcy-service-name">Design System - GOV.CY</span>
                     <ul class="govcy-menu govcy-bg-sub-menu govcy-bg-md-primary">
                        {%- for category in collections.categoriesSortByOrderAscEl -%}
                        <li><a href="{{ category.url }}">{{ category.data.title }}</a></li>
                        {%- endfor -%}
                     </ul>
                 </header>
             </div>
         </div>
     </div>
    <!--Top Menu-->
    <div class="govcy-container-fluid" id="topMenuContainer"><div class="container-md"><nav class="nav" id="topMenu"></nav></div></div>
    <!--Main-->
    <main class="govcy-container govcy-my-2" id="mainContainer">
    <h1>{{ title }}</h1>
    {{ content | safe }} 
    </main>
    <!-- Footer -->
    <div class="govcy-container-fluid govcy-br-top-8 govcy-br-top-primary govcy-p-3 govcy-bg-light">
            <div class="govcy-container">
                <div class="row">   
                    <footer class="govcy-footer">
                        <span class="govcy-d-inline-block govcy-valign-top govcy-pb-2"><img alt="govcy-logo"></span>
                                <ul class="govcy-d-inline-block  govcy-m-0 govcy-pl-3 govcy-efs-medium">
                                <li><a href="#">Privacy statement</a></li>
                                <li><a href="#">Cookie policy</a></li>
                                <li><a href="#">Accessibility statement</a></li>
                                <li class="govcy-d-block govcy-text-dark">© Republic of Cyprus, 2021</li>
                            </ul>
                    </footer>
                </div>
            </div>
        </div>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script>
        document.getElementById("govcy-lang-menu").onchange = function() {
            var selectedOption = this.value;
            window.location.href =  selectedOption;
        }
        </script>
    </body>
</html>